<div class="row">
  <div class="col-md-12 text-center" id="new-note">
    <%= link_to "New Note", new_note_path, class: "btn btn-primary btn-lg mt-3", remote: true %>
  </div>
</div>

<div class="card-columns mt-4" id="notes">
  <%= render @notes %>
</div>
