<div class="row text-center" style="margin: 12.5% auto;">
  <div class="col-md-12">
    <main role="main" class="inner cover">
    <h1 class="cover-heading mt-4">Keep your notes.</h1>
    <p class="lead my-4"><b>Noootes is a place where you can save your notes, ideas, lists, reminders
    and other stuff. </b><br> A simple tool to keep things organized and simple to manage!</p>
    <p class="lead">
      <%= link_to 'Start the noooise!', notes_path, class: "btn btn-lg btn-primary"%>
    </p>
  </main>
  </div>
</div>





